<html>

    <body background='C:\Users\asus\Downloads\flask_toxic\static\backToxic.png';>

        <br><br><br><br><br><br><br><br><br><br><br><br>
            <form method="POST" , action="{{url_for('home')}}">
                <center>
                <font size ='+2'><b>Enter Your Message : <input size='40' style="background-color: #FFB6C1;" autofocus type="text", name='a',placeholder="Enter Your message"><br><br> </b>
                    </font>
                    <font size ='+2'> <input type="submit" , value='predict'><br> </font>
                 
                     </center>
      
             </form>
         
     </body>
  
 </html>
                    