<html>

    <body bgcolor="pink">

        <br><br><br><br><br><br><br><br><br><br><br><br>
            <form method="POST" , action="{{url_for('home')}}">
                <center>
                <font size ='+2'><b>Enter Your Message : <input size='40' style="background-color: #D3D3D3;" autofocus type="text", name='a',placeholder="Enter Your message"><br><br> </b>
                    </font>
                <font size ='+2'><b>Enter Your Message : <input size='40' style="background-color: #D3D3D3;" autofocus type="text", name='a',placeholder="Enter Your message"><br><br> </b>
                    </font>
                <font size ='+2'><b>Enter Your Message : <input size='40' style="background-color: #D3D3D3;" autofocus type="text", name='a',placeholder="Enter Your message"><br><br> </b>
                    </font>
                <font size ='+2'><b>Enter Your Message : <input size='40' style="background-color: #D3D3D3;" autofocus type="text", name='a',placeholder="Enter Your message"><br><br> </b>
                    </font>
                <font size ='+2'><b>Enter Your Message : <input size='40' style="background-color: #D3D3D3;" autofocus type="text", name='a',placeholder="Enter Your message"><br><br> </b>
                    </font>
                <font size ='+2'><b>Enter Your Message : <input size='40' style="background-color: #D3D3D3;" autofocus type="text", name='a',placeholder="Enter Your message"><br><br> </b>
                    </font>
                <font size ='+2'><b>Enter Your Message : <input size='40' style="background-color: #D3D3D3;" autofocus type="text", name='a',placeholder="Enter Your message"><br><br> </b>
                    </font>
                    <font size ='+2'> <input type="submit" , value='predict'><br> </font>
                 
                     </center>
      
             </form>
         
     </body>
  
 </html>
         